/******************************************************************
Site Name: WocketWare
Author: Todd H Gardner

Stylesheet: Common Icons & Sprites

******************************************************************/
.icon {
  display: block;
  width: 150px;
  height: 127px;
  background-image: url('../images/icons-150.png');
}
.icon-planet {
  background-position: 0 0;
}
.icon-launch {
  background-position: -150px 0;
}
.icon-rocket {
  background-position: -300px 0;
}
